.grid-item {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {grid-area: disp;}
#del {grid-area: del;}
#ac {grid-area: ac;}
#mode {grid-area: mode;}
#plus {grid-area: plus;}
#minus {grid-area: minus;}
#divide {grid-area: divide;}
#times {grid-area: cross;}
#equals {grid-area: equals;}
#none {grid-area: naught;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#dot {grid-area: period;}

.display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 2%;
    padding-right: 4%;

    &__total {
        font-size: 3em;
        margin:0;
        max-width: 100%;
        overflow: hidden;
        direction: rtl;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__calc {
        font-size: 1em;
        padding-bottom: 2%;
        padding-right: 1%;
        color: $equals-color;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.button {
    height: 70%;
    width: 70%;
    border-radius: 100%;
    margin: 0;
    text-align: center;
    border: 0.5px solid $primary-color-dark;
    color: $text-color;
    font-family: $font;
    font-size: 1em;
    font-weight: bold;
    background-color: $button-color;

    &--operator {
        background-color: $operator-color;
        border-color: $operator-color;
    }

    &--equals {
        background-color: $equals-color;
        border-color: $equals-color;
    }

    &--night-mode {
        border-radius: 0%;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        width: 30%;
        height: 60%;
        background-color: $equals-color;
        border: 1px solid $equals-color;
    }

    &--day-mode {
        border-radius: 0%;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 40%;
        width: 30%;
        height: 60%;
        border: 1px solid $equals-color;
    }

    &--number {

    }

    &--other {
        color: $other-color;
    }
}

.button:hover {
    cursor: pointer;
    border: 0.5px solid $highlight-color !important;
}

.button:active {
    background-color: $highlight-color !important;
}
