@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');

$primary-color-dark: #061826;
$primary-color-light: #F3E0EC;
$background-color: #F3E0EC;
$other-color: #E9C46A;
$operator-color: #E76F51;
$equals-color: #2A9D8F;
$button-color: #061826;
$text-color: #F3E0EC;

$font: 'Kameron';


body {
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, $primary-color-dark, $primary-color-light);
    overflow: hidden;
  }

.container {
    background-color: $primary-color-dark;
    color: $text-color;
    font-weight: bold;
    margin: 4% auto;
    display: grid;
    grid-template-areas:
        'disp disp disp disp'
        'disp disp disp disp'
        'disp disp disp disp'
        'disp disp disp disp'
        'ac mode mode plus'
        'seven eight nine divide'
        'four five six cross'
        'one two three minus'
        'naught period del equals';
    grid-gap: 0px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% auto auto auto auto auto auto auto auto;
    border-radius: 30px;
    padding: 0;
    width: 25vw;
    height: 85vh;
    background-clip: padding-box;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 30vw;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 35vw;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        width: 40vw;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
        font-size: 20px;
        margin: 0;
        border-radius: 0;
    }
}

.light-mode {
    background-color: $primary-color-light;
    color: $primary-color-dark;
    overflow: hidden;
    background-clip: padding-box;


    &--buttons {
        background-color: $primary-color-light !important;
        color: $primary-color-dark !important;
        font-weight: bold !important;
    }

    &--day {
        background-color: $equals-color !important;
        color: $primary-color-dark !important;
    }

    &--night {
        background-color: $primary-color-light !important;
        color: $primary-color-dark !important;
    }
}

.grid-item {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {grid-area: disp;}
#del {grid-area: del;}
#ac {grid-area: ac;}
#mode {grid-area: mode;}
#plus {grid-area: plus;}
#minus {grid-area: minus;}
#divide {grid-area: divide;}
#times {grid-area: cross;}
#equals {grid-area: equals;}
#none {grid-area: naught;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#dot {grid-area: period;}

.display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 2%;
    padding-right: 4%;

    &__total {
        font-size: 3em;
        margin:0;
        max-width: 100%;
        overflow: hidden;
        direction: rtl;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__calc {
        font-size: 1em;
        padding-bottom: 2%;
        padding-right: 1%;
        color: $equals-color;
        max-width: 100%;
        overflow: hidden;
        direction: rtl;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.button {
    height: 70%;
    width: 70%;
    border-radius: 100%;
    margin: 0;
    text-align: center;
    border: none;
    color: $text-color;
    font-family: $font;
    font-size: 1em;
    font-weight: bold;
    background-color: $button-color;

    &--operator {
        background-color: $operator-color;
    }

    &--equals {
        background-color: $equals-color;
    }

    &--night-mode {
        border-radius: 0%;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        width: 30%;
        height: 60%;
        background-color: $equals-color;
        border: 1px solid $equals-color;
    }

    &--day-mode {
        border-radius: 0%;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 40%;
        width: 30%;
        height: 60%;
        border: 1px solid $equals-color;
    }

    &--number {

    }

    &--other {
        color: $other-color;
    }
}
