
* {
    margin: 0;
    box-sizing: border-box;
  }

.container {
    margin: 7% auto;
    display: grid;
    grid-template-areas:
        'disp disp disp disp'
        'disp disp disp disp'
        'disp disp disp disp'
        'disp disp disp disp'
        'ac mode mode plus'
        'seven eight nine divide'
        'four five six cross'
        'one two three minus'
        'naught period del equals';
    grid-gap: 2px;
    border: 2px solid black;
    padding: 0;
    width: 50vw;
    height: 70vh;
}

.grid-item {
    border: 1px solid black;
    padding: 0;
}

#display {grid-area: disp;}
#del {grid-area: del;}
#ac {grid-area: ac;}
#mode {grid-area: mode;}
#plus {grid-area: plus;}
#minus {grid-area: minus;}
#divide {grid-area: divide;}
#times {grid-area: cross;}
#equals {grid-area: equals;}
#none {grid-area: naught;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#dot {grid-area: period;}

.display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 2%;

    &__total {
        font-size: 300%;
        margin:0;
    }

    &__calc {
        padding-bottom: 2%;
    }
}

.button {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    border: none;

    &--operator {
        background-color: orange;
    }

    &--equals {
        background-color: green;
    }

    &--number {

    }

    &--other {
        
    }
}
