@import url("https://fonts.googleapis.com/css2?family=Kameron&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kameron";
  font-size: 20px;
  background-image: linear-gradient(to bottom right, #061826, #F3E0EC);
  overflow: hidden;
}

.grid-item {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  grid-area: disp;
}

#del {
  grid-area: del;
}

#ac {
  grid-area: ac;
}

#mode {
  grid-area: mode;
}

#plus {
  grid-area: plus;
}

#minus {
  grid-area: minus;
}

#divide {
  grid-area: divide;
}

#times {
  grid-area: cross;
}

#equals {
  grid-area: equals;
}

#none {
  grid-area: naught;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#dot {
  grid-area: period;
}

.display {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2%;
  padding-right: 4%;
}
.display__total {
  font-size: 3em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  direction: rtl;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.display__calc {
  font-size: 1em;
  padding-bottom: 2%;
  padding-right: 1%;
  color: #2A9D8F;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  height: 70%;
  width: 70%;
  border-radius: 100%;
  margin: 0;
  text-align: center;
  border: 0.5px solid #061826;
  color: #F3E0EC;
  font-family: "Kameron";
  font-size: 1em;
  font-weight: bold;
  background-color: #061826;
}
.button--operator {
  background-color: #E76F51;
  border-color: #E76F51;
}
.button--equals {
  background-color: #2A9D8F;
  border-color: #2A9D8F;
}
.button--night-mode {
  border-radius: 0%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  width: 30%;
  height: 60%;
  background-color: #2A9D8F;
  border: 1px solid #2A9D8F;
}
.button--day-mode {
  border-radius: 0%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 30%;
  height: 60%;
  border: 1px solid #2A9D8F;
}
.button--other {
  color: #E9C46A;
}

.button:hover {
  cursor: pointer;
  border: 0.5px solid #81808C !important;
}

.button:active {
  background-color: #81808C !important;
}

.container {
  background-color: #061826;
  color: #F3E0EC;
  font-weight: bold;
  margin: 4% auto;
  display: grid;
  grid-template-areas: "disp disp disp disp" "disp disp disp disp" "disp disp disp disp" "disp disp disp disp" "ac mode mode plus" "seven eight nine divide" "four five six cross" "one two three minus" "naught period del equals";
  grid-gap: 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% auto auto auto auto auto auto auto auto;
  border-radius: 30px;
  padding: 0;
  width: 25vw;
  height: 85vh;
  background-clip: padding-box;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 30vw;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 35vw;
  }
}
@media only screen and (max-width: 850px) {
  .container {
    width: 40vw;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    margin: 0;
    border-radius: 0;
  }
}
.light-mode {
  background-color: #F3E0EC;
  color: #061826;
  overflow: hidden;
  background-clip: padding-box;
}
.light-mode--buttons {
  background-color: #F3E0EC !important;
  border-color: #F3E0EC !important;
  color: #061826 !important;
  font-weight: bold !important;
}
.light-mode--day {
  background-color: #2A9D8F !important;
  color: #061826 !important;
}
.light-mode--night {
  background-color: #F3E0EC !important;
  color: #061826 !important;
}